
body{
    background-color: #1C3144;
    color: #DDD1E8;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}


hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: #7D1128;
}

.text {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

ul{
 text-align: center;   
 list-style: none;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.project_img{
    display: flex;
    justify-content: center;
}
hr.sub-rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: #9197AE;
}